<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Franklymath4you</title>
<link href="css/reset.css" rel="stylesheet" type="text/css">
<link href="css/fonts.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/layout.css" rel="stylesheet" type="text/css">
<link href="css/blocksets.css" rel="stylesheet" type="text/css">
<link href="css/menu.css" rel="stylesheet" type="text/css">
<script src="js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="js/html5.js" type="text/javascript"></script>
</head>

<body>
<div class="main-wrapper">
  <div class="page">
    <div class="header-wrapper">
      <div class="header">
        <div class="logo">
          <h1><a href="index.html"><img src="images/logo.png" alt="Frankly Math"></a></h1>
        </div>
        <div class="widget-right">
          <div class="login-panel">
            <ul>
              <li><a href="#">Login</a></li>
              <li class="last"><a href="#">Register</a></li>
            </ul>
          </div>
          <div class="social-network">
            <ul>
              <li><a href="#" class="tt">Twitter</a></li>
              <li class="last"><a href="#" class="fb">Facebook</a></li>
            </ul>
          </div>
          <span><a href="#">Erica@franklymath4you.com </a></span> </div>
      </div>
      <!-- end header --> 
    </div>
    <!-- end header wrapper -->
    <div class="navigation-container-wrapper">
      <div class="navigation-container">
        <ul>
          <li class="first active"><a href="index.html">Home</a></li>
          <li><a href="#">Why Frankly Math</a></li>
          <li><a href="howitworks.html">How It Works</a></li>
          <li><a href="getstarted.html">Get Started</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </div>
    <div class="banner-container-wrapper">
      <div class="banner-container"><img src="images/banner.png" alt="Banner-1"></div>
    </div>
    <div class="main-container-wrapper">
      <div class="main-container col2-right-layout">
        <div class="main">
          <div class="col-main">
            <div class="block block-welcome">
              <div class="block-title">
                <h1>Frankly Math</h1>
              </div>
              <div class="block-content">
                <p>As mentioned above, students in category 2 understand what is going on in class and can complete 80 to 90 percent of their homework problems without assistance.  Because of this, they do not really need an in person tutor once a week but rather someone they can call on to ask questions a few minutes a day.  Some times they benefit from working with a tutor before a test or quiz but other times they understand the material and would do just as well without that session.  Unfortunately it is difficult to find a tutor who is this flexible and willing to hold a weekly spot open in case that student needs them and therefore parents end up hiring a tutor to come once a week which ends up being costly and not ideally effective for the student.  This service is a solution to this problem.  “ from “who is this service for page.</p>
                <ul>
                  <li>Homework help whenever you need it</li>
                  <li>Personalized practice exams</li>
                  <li>Access from anywhere</li>
                  <li>Expert tutoring for a fraction of the cost</li>
                  <li class="last">No appointment needed</li>
                </ul>
              </div>
            </div>
            <div class="block block-start">
              <div class="block-content">
                <div class="img-container"><img src="images/img-1.png" alt="Image 1"></div>
                <div class="text">
                  <p>If you are a student who is able to complete 80 to 90 percent of your math homework easily without assistance..if you typically get test scores between 80% and 95%.. if you know how to study but tend to have difficulty doing so on your own before a quiz or a test, or know that you need to study but have not figured out thte right way..if you want to be able to go into class each day having conquered the challenge problem assigned by your teacher the day before….. Frankly Math is the perfect solution for you.  Let me help you eliminate the stress of thinking you don’t know how.</p>
                  <a href="#">Get Started Now </a></div>
              </div>
            </div>
          </div>
          <!-- end col-main --> 
        </div>
        <!-- end main -->
        <div class="col-right">
          <div class="block block-question">
            <div class="block-title">
              <h2>Ask Your Homework Question Now ! </h2>
              <p>if you are a monthly subscriber please log in before submitting your question to avoid being charged.</p>
            </div>
            <div class="block-content">
              <div class="form-container-wrapper">
                <div class="form-container">
                  <form action="#">
                    <p>
                      <label for="#">Name:<span>*</span></label>
                      <span class="text-wrapper">
                      <input type="text">
                      </span></p>
                    <p>
                      <label for="#">Email:<span>*</span></label>
                      <span class="text-wrapper">
                      <input type="text">
                      </span></p>
                    <p>
                      <label for="#">Phone Number:<span>*</span></label>
                      <span class="text-wrapper">
                      <input type="text">
                      </span><span class="note">(your phone number is requested in case there is a problem with the email address when sending feedback)</span></p>
                    <p>
                      <label for="#">Grade:<span>*</span></label>
                      <span class="text-wrapper">
                      <input type="text">
                      </span></p>
                    <p>
                      <label for="#">School:<span>*</span></label>
                      <span class="text-wrapper">
                      <input type="text">
                      </span></p>
                    <p>
                      <label for="#">Question:<span>*</span></label>
                      <span class="text-wrapper">
                      <input type="text">
                      </span></p>
                    <p>
                      <label for="#">Course:<span>*</span></label>
                      <span class="textarea-wrapper">
                      <textarea name="#" placeholder="Type your homework question here or upload a picture or pdf of your question.  Please make sure you include all directions given in the assignment:"></textarea>
                      </span></p>
                    <p>
                      <input name="#" type="file">
                    </p>
                    <p><span class="note italic">*Please note that with few exceptions I will not answer the exact question sent to me.  When I receive a homework question from a student, I will write and solve a different problem that uses the same process that is needed for the one sent to me.  This provides the student with a model of how to solve the problem without eliminating the opportunity for them to do so on their own. </span></p>
                    <p>
                      <input type="submit" value="SUBMIT">
                    </p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end main-container col-1-layout -->
    <div class="footer-wrapper">
      <div class="footer">
        <div class="footer-left"><ul class="footer-menu">
        	 <li class="first active"><a href="index.html">Home</a></li>
              <li><a href="#">Why Frankly Math</a></li>
              <li><a href="#">How It Works</a></li>
              <li><a href="#">Get Started</a></li>
              <li class="last"><a href="#">Blog</a></li>
        </ul>
        <span class="copyright">Copyright 2013 All Rights Reserved.</span>
        
      </div>
      <div class="footer-right">
      	<div class="footer-right-content"><span>Contact us</span>
        <a href="#">Erica@franklymath4you.com </a>
        <span class="phone"><span>(914)</span> 806-3820</span></div>
      </div>
      </div>
      
      <!-- end footer --> 
    </div>
    <!-- end footer-wrapper --> 
  </div>
  <!-- end page --> 
</div>
<!-- end main-wrapper -->
</body>
</html>
